html, body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg_color {
  z-index: -1;
  background-color: #181F41;
  position: absolute;
  height: 1024px;
  width: 100%;
}

.hero {
  width: 1200px;
  margin: auto;
  color: white;
  height: 1152px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.hero .header p {
  margin-right: auto;
  font-size: 25px;
  font-weight: 400;
}

.hero .header .menu {
  margin-left: auto;
  font-size: 15px;
  font-weight: 300;
}

.hero .header .menu ul {
  list-style-type: none;
}

.hero .header .menu ul li {
  padding: 0 25;
  display: inline;
}

.hero .header .menu ul li .active {
  color: #1A59E7;
  text-decoration: underline;
}

.hero .header .menu ul li .non_active {
  color: white;
  text-decoration: none;
}

.hero .container_baseline {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 204px;
  margin-top: 125px;
}

.hero .container_baseline .big_baseline {
  margin-right: auto;
  margin: 0px;
  font-size: 100px;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero .container_baseline .little_baseline {
  margin-left: auto;
  font-size: 20px;
  font-weight: 300;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero .slider {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 706px;
}

.hero .slider .s-list {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
}

.hero .slider .s-list .sl-item-active {
  background-color: #1A59E7;
  margin: 5px;
  width: 12px;
  height: 12px;
}

.hero .slider .s-list .sl-item {
  background-color: #454E54;
  margin: 5px;
  width: 10px;
  height: 10px;
}

.hero .slider .s-image {
  margin-left: auto;
  margin-right: -450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
}

.hero .slider .si-item {
  margin: 17px;
}

.hero .slider .si-item img {
  width: 326px;
  height: 706px;
  -o-object-fit: cover;
     object-fit: cover;
}

.one {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 1299px;
}

.one .title p {
  color: #1B1F31;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: right;
}

.one .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
}

.one .container .img {
  margin-right: auto;
}

.one .container .img img {
  width: 580px;
  height: 832px;
  -o-object-fit: cover;
     object-fit: cover;
}

.one .container .project_type {
  margin-left: auto;
  width: 515px;
}

.one .container .project_type p {
  margin-top: 92px;
  margin-bottom: 92px;
}

.one .container .project_type .pt-label {
  color: #1A59E7;
  font-size: 18px;
  margin: 18 18 18 0;
}

.one .container .project_type .pt-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 515px;
}

.one .container .project_type .pt-list .ptl-item {
  margin-top: 56px;
  margin-bottom: 56px;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 224px;
  width: 1286px;
}

.two .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1286px;
}

.two .list .l-item img {
  width: 231px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 43;
}

.two .discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 89px;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #1A59E7;
}

.three {
  margin-top: 158px;
}

.three p {
  width: 1200px;
  margin: auto;
  text-align: right;
}

.three img {
  position: relative;
  z-index: -1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 920px;
}

.three .t-next {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -35px;
}

.three .t-next .tn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  margin-right: 10px;
}

.three .t-next .tn-list .tnl-item-active {
  background-color: #1A59E7;
  margin: 5px;
  width: 12px;
  height: 12px;
}

.three .t-next .tn-list .tnl-item {
  background-color: #454E54;
  margin: 5px;
  width: 10px;
  height: 10px;
}

.three .t-next button {
  padding: auto;
  color: white;
  width: 354px;
  height: 69px;
  font-size: 30px;
  letter-spacing: 20px;
  background-color: #1A59E7;
  border: none;
}

.four {
  margin: auto;
  width: 1200px;
  margin-top: 219px;
}

.four .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: black;
}

.four .container .project_type {
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.four .container .project_type .title {
  width: 618px;
  color: #1B1F31;
  font-size: 80px;
  font-weight: 700;
}

.four .container .project_type .text {
  margin-top: 489px;
  width: 601px;
}

.four .container .project_type .identity {
  font-size: 20px;
  color: #1A59E7;
}

.four .container .img {
  margin-left: auto;
}

.four .container .img img {
  width: 580px;
  height: 832px;
  -o-object-fit: cover;
     object-fit: cover;
}

.four .staff {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 136px;
}

.four .staff img {
  margin-right: auto;
  width: 383px;
  height: 514px;
  -o-object-fit: cover;
     object-fit: cover;
}

.four .staff .s-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
  margin-left: 0;
}

.four .staff .s-list .sl-item {
  width: 206px;
  height: 235px;
  background-color: #181F41;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 13 22;
}

.five {
  width: 1200px;
  height: 974px;
  margin: auto;
  margin-top: 219px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.five .f-title {
  width: 618px;
  color: #1B1F31;
  font-size: 80px;
  font-weight: 700;
}

.five .f-list {
  margin: auto;
  width: 1183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.five .f-list .fl-item .fli-titletext {
  border-left: 2px solid #1A59E7;
  padding-left: 20px;
  margin-bottom: 20px;
}

.five .f-list .fl-item .fli-titletext .flit-title {
  margin-top: 0px;
  color: #1B1F31;
  font-size: 25px;
  font-weight: 400;
}

.five .f-list .fl-item .fli-titletext .flit-text {
  margin-bottom: 0px;
  color: #76858E;
  font-size: 15px;
  font-weight: 300;
}

.five .f-list .fl-item img {
  width: 360px;
  height: 402px;
  -o-object-fit: cover;
     object-fit: cover;
}

.five .f-actuality {
  margin: 58 auto;
  font-size: 20px;
  color: #1A59E7;
}

.footer {
  margin: auto;
  margin-top: 131px;
  height: 450px;
  background-color: #FEEFD9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer p {
  margin: 0;
  font-size: 30px;
  color: #181F41;
  font-weight: 400;
}

.footer .f-menu {
  font-size: 16px;
  font-weight: 400;
}

.footer .f-menu ul {
  padding: 0;
}

.footer .f-menu ul li {
  display: inline;
}

.footer .f-menu ul li a {
  color: #1A59E7;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */